.table__countries {
	height: 50vh;
	margin-top: 1em;
	overflow-y: scroll;
	color: #6a5d5d;
	background-color: white;
}

.table__row {
	display: flex;
	justify-content: space-between;
}

.table__row:nth-of-type(odd) {
	background-color: #f3f2f8;
}

.table__data {
	padding: 0.5em;
}
